<h1>New page</h1>

<%= error_messages_for :page %>

<% form_for(@page) do |f| %>

<%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', pages_path %>
