<h1>Email from your web site</h1>
<ul>
	<li>From: <%= @message.name %></li>
	<li>Company: <%= @message.company %></li>
	<li>Phone: <%= @message.phone %></li>
</ul>
<p>Message: <%= @message.body %></p>